<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>失敗頁面</title>
    <style>
        .menu{
            background-color: darkblue;
            color: aliceblue;
            margin-bottom: 25px;
        }
        div{
            width: 100%;
            display: inline-block;
            text-align: center;
           
        }
        a{  
            display: block;
            margin-top:20px
        }

    </style>
</head>
<body>
    <div class="menu">
        <h1>失敗頁面</h1>
    </div>
    <div>
        {{message}}
        <a href="/">返回首頁</a>
    </div>
</body>
</html>